* {
    box-sizing: border-box;
}

@media screen{
}
body {
    margin: 0;
    padding: 0;
}
nav {
    justify-content: space-between;
    background: lightgray;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    padding: 1em;
}
nav a:hover {
    color: #0056b3;
}

.logo{
    font-family: 'Monstserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -32px;
    padding: .2em 0;
}

.medialinks {
    margin-left: auto;
    padding-right: 1em;
}.webcart {
    display: block;
     padding-right: 1em;
}.magglass {
    display: block;
     padding-right: 1em;
}.user {
    display: block;
     padding-right: 1em;
}

