@media screen and (min-width: 900px) {
    article {
        background-color: blanchedalmond;
        padding: 1rem 3rem;
    }
}

.welcome {
    color: rosybrown;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.paragraphs {
    display: flex;
    align-content: ;
}

